.Component-Header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-items: flex-end;
    background-color: transparent;
    flex: 0 0 50px;
    margin-bottom:30px;

    div{
        flex: 0 0 60px;
        padding: 5px;
    }
    
    // height: 150px;
}